.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form {
    flex: 1;
    padding: 20px;
  }
  
  .signup-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  .signup-form form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color:#003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-form button:hover {
    background-color: #003366;
  }
  
  .google-signup {
    text-align: center;
    margin-top: 15px;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .google-btn img {
    width: 20px;
    height: 20px;
  }
  
  .login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .signup-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .user-type {
    display: flex;
    gap: 15px; /* Ajoute un espace entre les deux options */
    margin: 10px 0; /* Ajoute un espace vertical entre les boutons radio et les autres éléments */
  }
  
  .user-type label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  